<!doctype html>
<html lang="en">

<head>
    <!--Use the `title` variable to set the title of the page-->
    <title>{{ .message }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <!--Use bootstrap to make the application look nice-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
</head>
<body>
<pre>
<h2>Данные заказа</h2>
 OrderUid: {{.order_uid}}
 TrackNumber: {{.track_number}}
 Entry: {{.entry}}
<h3>Данные доставки</h3>
      Name: {{.name}}
      Phone: {{.phone}}
      Zip: {{.zip}}
      City: {{.city}}
      Address: {{.address}}
      Region: {{.region}}
      Email: {{.email}}
<h3>Данные оплаты</h3>
      Transaction: {{.transaction}}
      RequestId: {{.request_id}}
      Currency: {{.currency}}
      Provider: {{.provider}}
      Amount: {{.amount}}
      PaymentDt: {{.payment_dt}}
      Bank: {{.bank}}
      DeliveryCost: {{.delivery_cost}}
      GoodsTotal: {{.goods_total}}
      ustomFee: {{.custom_fee}}
<h3>Данные объектов</h3>
     <h4>Данные объекта</h4>
         Chrt id: {{.chrt_id}}
         Track number: {{.track_numberI}}
         Price: {{.price}}
         Rid: {{.rid}}
         Name: {{.nameI}}
         Sale: {{.sale}}
         Size: {{.size}}
         Total price: {{.total_price}}
         Nm id: {{.nm_id}}
         Brand: {{.brand}}
         Status: {{.status}}
 Locale: {{.locale}}
 Internal signature: {{.internal_signature}}
 Customer id: {{.customer_id}}
 Delivery service: {{.delivery_service}}
 Shardkey: {{.shardkey}}
 Sm_id: {{.sm_id}}
 Date_created: {{.date_created}}
 Oof_shard: {{.oof_shard}}
    </pre>
</body>
</html>